*,*::before,*::after {
  box-sizing: border-box;
}

::root {
  color-scheme: dark;
  --white:      snow;
  --black:      #222;
}

html,body {
  margin:                0;
  background: var(--black);
  color:      var(--white);
  display:            grid;
}
